Flask==0.12.2
Flask-WTF==0.14.2
Flask-Login==0.4.0
configobj==5.0.5
bcrypt==3.1.0
requests==2.7.0
python-ldap==2.4.21
Flask-SQLAlchemy==2.1
SQLAlchemy==1.0.9
sqlalchemy-migrate==0.10.0
pyotp==2.2.1
qrcode==5.3
Flask-OAuthlib==0.9.3
dnspython>=1.12.0
python-saml==2.3.0
pyOpenSSL>=0.15
pytz>=2017.3
