Authlib==1.6.12
Flask-Assets==2.1.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-SSLify==0.1.5
Flask-SeaSurf==2.0.0
Flask-Session==0.8.0
Flask==3.1.2
Jinja2==3.1.6
PyYAML==6.0.3
SQLAlchemy==2.0.41
#alembic==1.9.0
bcrypt==4.3.0
bravado-core==5.17.1
certifi==2026.6.17
cffi==1.17.1
configobj==5.0.9
cryptography==42.0.8
cssmin==0.2.0
dnspython>=2.8.0
flask_session_captcha==1.5.0
gunicorn==26.0.0
itsdangerous==2.2.0
jsonschema[format]>=2.5.1,<4.0.0 # until https://github.com/Yelp/bravado-core/pull/385
lima==0.5
lxml==5.4.0
mysqlclient==2.2.8
passlib==1.7.4
#pyOpenSSL==22.1.0
pyasn1==0.4.8
pyotp==2.10.0
python-ldap==3.4.7
python3-saml==1.16.0
pytimeparse==1.1.8
pytz==2026.2
qrcode==7.4.2
requests==2.34.2
rjsmin==1.2.5
webcolors==1.13
werkzeug==3.1.3
zipp==3.23.1
rcssmin==1.2.2
zxcvbn==4.5.0
psycopg2==2.9.12
setuptools==83.0.0
