{% extends "base.html" %}
{% set active_page = "admin_accounts" %}
{% if create %}
    {% set action_label = 'Create' %}
    {% set form_action = url_for('admin.edit_account') %}
{% else %}
    {% set action_label = 'Edit' %}
    {% set form_action = url_for('admin.edit_account', account_name=account.name) %}
{% endif %}
{% set page_title = action_label ~ ' Account' %}
{% set breadcrumb_items = [{'label': 'Accounts', 'url': url_for('admin.manage_account')}] %}
{% block title %}<title>{{ action_label }} Account - {{ SITE_NAME }}</title>{% endblock %}


{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    <form role="form" method="post" action="{{ form_action }}" class="needs-validation" novalidate>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="create" value="{{ create }}">
                        <div class="card card-outline card-primary shadow">
                            <div class="card-header">
                                <h3 class="card-title">Account Editor</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                {% if error %}
                                    <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                        <h4><i class="fa-solid fa-ban"></i> Error!</h4>
                                        {{ error }}
                                    </div>
                                {% endif %}
                                <div class="mb-3">
                                    <label class="form-label" for="accountname">Name</label>
                                    <input type="text" class="form-control {% if invalid_accountname or duplicate_accountname %}is-invalid{% endif %}" placeholder="Account Name (required)"
                                           name="accountname" id="accountname"
                                           {% if account %}value="{{ account.name }}" {% endif %}
                                           {% if not create %}disabled{% endif %} required>
                                    {% if invalid_accountname %}
                                        <div class="invalid-feedback">Cannot be blank and must only contain alphanumeric
                    characters{% if SETTING.get('account_name_extra_chars') %}, dots, hyphens or underscores{% endif %}.
                                        </div>
                                    {% elif duplicate_accountname %}
                                        <div class="invalid-feedback">Account name already in use.</div>
                                    {% endif %}
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="accountdescription">Description</label>
                                    <input type="text" class="form-control" placeholder="Account Description (optional)"
                                           name="accountdescription" id="accountdescription"
                                           {% if account %}value="{{ account.description }}" {% endif %}>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="accountcontact">Contact Person</label>
                                    <input type="text" class="form-control" placeholder="Contact Person (optional)"
                                           name="accountcontact" id="accountcontact"
                                           {% if account %}value="{{ account.contact }}" {% endif %}>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="accountmail">Mail Address</label>
                                    <input type="email" class="form-control" placeholder="Mail Address (optional)"
                                           name="accountmail" id="accountmail"
                                           {% if account %}value="{{ account.mail }}" {% endif %}>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-header">
                                <h3 class="card-title">Access Control</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <p>Users on the right have access to manage records in all zones
                                    associated with the account.
                                </p>
                                <p>Click on users to move between columns.</p>
                                <div class="mb-3">
                                    <label class="form-label" for="account_multi_user">Account users</label>
                                    <select multiple="multiple" class="form-select" id="account_multi_user"
                                            name="account_multi_user">
                                        {% for user in users %}
                                            <option {% if user.id in account_user_ids|default([]) %}selected{% endif %}
                                                    value="{{ user.username }}">{{ user.username }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-body">
                                <p>Zones on the right are associated with the account. Red marked zone names are
                                    already associated with other accounts.
                                    Moving already associated zones to this account will overwrite the previous
                                    associated account.
                                </p>
                                <p>Hover over the red zone names to show the associated account. Click on zones to
                                    move between columns.</p>
                                <div class="mb-3">
                                    <label class="form-label" for="account_domains">Account zones</label>
                                    <select multiple="multiple" class="form-select" id="account_domains"
                                            name="account_domains">
                                        {% for domain in domains %}
                                            {% if account != None and domain.account_id != None and account.id != domain.account_id %}
                                                {% with account_id=domain.account_id %}
                                                    <option style="color: red" data-bs-toggle="tooltip"
                                                            title="Associated with: {{ accounts[account_id].name }}"
                                                            value="{{ domain.name }}">
                                                        {{ domain.name }}
                                                    </option>
                                                {% endwith %}
                                            {% else %}
                                                <option {% if account.id and account.id == domain.account_id %}selected{% endif %}
                                                        value="{{ domain.name }}">
                                                    {{ domain.name }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="button" class="btn btn-secondary float-start" title="Cancel"
                                        onclick="window.location.href='{{ url_for('admin.manage_account') }}'">
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-primary float-end"
                                        title="{{ action_label }} Account">
                                    {{ action_label }} Account
                                </button>
                            </div>
                            <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->
                    </form>
                </div>
                <!-- /.col -->

                <div class="col-12 col-sm-6 col-lg-8">
                    <div class="card card-outline card-secondary shadow">
                        <div class="card-header">
                            <h3 class="card-title">Account Editor Help</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <p>
                                An account allows grouping of zones belonging to a particular entity, such as a
                                customer or
                                department.
                            </p>
                            <p>
                                A zone can be assigned to an account upon zone creation or through the zone
                                administration
                                page.
                            </p>
                            <p>Fill in all the fields to the in the form to the left.</p>
                            <p>
                                <strong>Name</strong> is an account identifier. It will be lowercase and can contain
                                alphanumeric
                                characters{% if SETTING.get('account_name_extra_chars') %}, dots, hyphens and
                                underscores (no space or other special character is allowed)
                            {% else %} (no extra character is allowed){% endif %}.<br/>
                                <strong>Description</strong> is a user-friendly name for this account.<br/>
                                <strong>Contact person</strong> is the name of a contact person at the account.<br/>
                                <strong>Mail Address</strong> is an e-mail address for the contact person.
                            </p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
{% endblock %}

{% block extrascripts %}
    <script>
        initializeDualList('#account_multi_user', {itemName: 'users'});
        initializeDualList('#account_domains', {itemName: 'zones'});
    </script>
{% endblock %}
