launch={{ PDNS_LAUNCH }}
{{ PDNS_LAUNCH }}-host={{ PDNS_DB_HOST }}
{{ PDNS_LAUNCH }}-port={{ PDNS_DB_PORT }}
{{ PDNS_LAUNCH }}-dbname={{ PDNS_DB_NAME }}
{{ PDNS_LAUNCH }}-user={{ PDNS_DB_USER }}
{{ PDNS_LAUNCH }}-password={{ PDNS_DB_PASSWORD }}
{{ PDNS_LAUNCH }}-dnssec={{ PDNS_BACKEND_DNSSEC }}
default-api-rectify={{ PDNS_DEFAULT_API_RECTIFY }}
