{% extends "errors/base.html" %}
{% block title %}<title>HTTP 400 Error - {{ SITE_NAME }}</title>{% endblock %}

{% block error_body %}
    <div class="display-1 fw-bold text-warning lh-1 mb-3">400</div>
    <h1 class="h3 mb-3">Oops! Bad request.</h1>
    <p class="text-secondary mb-4">
        {% if msg %}
            {{ msg }}
        {% elif message %}
            {{ message }}
        {% else %}
            The server refused to process your request.
        {% endif %}
    </p>
{% endblock %}
