{% extends "base.html" %}

{% block title %}<title>HTTP 403 Error - {{ SITE_NAME }}</title>{% endblock %}

{% block dashboard_stat %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">HTTP 403 Error</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a></li>
                        <li class="breadcrumb-item active">HTTP 403 Error</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow">
                HTTP 403 Error
            </h2>
            <div class="error-content">
                <h3>
                    <i class="fa-solid fa-exclamation-triangle text-yellow"></i>
                    Oops! Access Denied
                </h3>
                <p>
                    You don't have permission to access this page
                    You may <a href="{{ url_for('dashboard.dashboard') }}">return to the dashboard</a>.
                </p>
            </div>
        </div>
    </section>
{% endblock %}