{% extends "base.html" %}
{% set page_title = 'HTTP 500 Error' %}
{% block title %}<title>HTTP 500 Error - {{ SITE_NAME }}</title>{% endblock %}


{% block content %}
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow">HTTP 500 Error</h2>
            <div class="error-content">
                <h3>
                    <i class="fa-solid fa-exclamation-triangle text-yellow"></i>
                    Oops! Something went wrong.
                </h3>
                <p>
                    Try again later.
                    You may <a href="{{ url_for('dashboard.dashboard') }}">return to the dashboard</a>.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
