{% extends "base.html" %}
{% set page_title = 'SAML Authentication Error' %}
{% block title %}<title>SAML Authentication Error - {{ SITE_NAME }}</title>{% endblock %}


{% block content %}
    <section class="content">
        <div class="error-page">
            <div>
                <h1 class="headline text-yellow" style="font-size:46px;">SAML Authentication Error</h1>
            </div>
            <br/>
            <br/>
            <div class="error-content">
                <h3>
                    <i class="fa-solid fa-exclamation-triangle text-yellow"></i>
                    Oops! Something went wrong with your authentication.
                </h3>
                <br>
                <p>
                    Login failed.
                    <br>
                    Error(s) when processing SAML Response:
                    <br>
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                You may <a href="{{ url_for('dashboard.dashboard') }}">return to the dashboard</a>.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
