{% extends "base.html" %}
{% set active_page = "admin_settings" %}
{% set page_title = 'Server Settings' %}
{% set breadcrumb_items = [{'label': 'Settings'}] %}
{% block title %}<title>Server Settings - {{ SITE_NAME }}</title>{% endblock %}


{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    <form role="form" method="post" class="needs-validation" novalidate>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        <div class="card card-outline card-primary shadow">
                            <div class="card-header">
                                <h3 class="card-title">Settings Editor</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                {% if not SETTING.get('pdns_api_url') or not SETTING.get('pdns_api_key') %}
                                    <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                        <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                        Please complete your PowerDNS API configuration before continuing
                                    </div>
                                {% endif %}
                                <div class="mb-3">
                                    <label class="form-label" for="pdns_api_url">PowerDNS API URL</label>
                                    <input type="url" class="form-control" placeholder="PowerDNS API URL"
                                           name="pdns_api_url" id="pdns_api_url"
                                           required
                                           value="{{ pdns_api_url }}">
                                    <div class="invalid-feedback">Please input a valid PowerDNS API URL.</div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="pdns_api_key">PowerDNS API Key</label>
                                    <input type="password" class="form-control" placeholder="PowerDNS API Key"
                                           name="pdns_api_key" id="pdns_api_key"
                                           required
                                           value="{{ pdns_api_key }}">
                                    <div class="invalid-feedback">Please input a valid PowerDNS API key.</div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary float-end" title="Save Settings">
                                    <i class="fa-solid fa-save"></i>&nbsp;Save Settings
                                </button>
                            </div>
                            <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->
                    </form>
                </div>
                <!-- /.col -->

                <div class="col-12 col-sm-6 col-lg-8">
                    <div class="card card-outline card-secondary shadow">
                        <div class="card-header">
                            <h3 class="card-title">Settings Editor</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <dl class="dl-horizontal">
                                <p>You must configure the API connection information before PowerDNS-Admin can query
                                    your
                                    PowerDNS data. Following fields are required:</p>
                                <dt>PowerDNS API URL</dt>
                                <dd>Your PowerDNS API URL (eg. http://127.0.0.1:8081/).</dd>
                                <dt>PowerDNS API Key</dt>
                                <dd>Your PowerDNS API key.</dd>
                            </dl>
                            <p>Find more details at
                                <a href="https://doc.powerdns.com/authoritative/http-api/" target="_blank">https://doc.powerdns.com/authoritative/http-api/</a>
                            </p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
{% endblock %}
