<div data-tab="ldap"
     data-bind="class: 'tab-pane' + (tab_active().endsWith('/ldap') ? ' active' : '')">
    <div class="row">
        <div class="col-12 col-sm-6">

            <div class="card shadow"
                 data-bind="classFlip: ldap_enabled, classFlipClasses: ['card-success', 'card-secondary']">

                <div class="card-header">
                    <setting-title data-bind="settingTitle: ldap_enabled_config"></setting-title>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <setting-meta data-bind="settingMeta: ldap_enabled_config"
                                  data-bind-type="textFlip"></setting-meta>

                    <setting-input data-bind="switchInput: ldap_enabled_config"
                                   data-disabled="ldap_enabled_environment()"
                                   data-profile="enabled-success"></setting-input>

                    <setting-callout data-type="warning" data-bind="settingCallout: ldap_enabled_config"
                                     data-bindings="visible: ldap_enabled_environment()">
                        <p>This is not editable because this setting is currently defined in the app's environment.</p>
                    </setting-callout>

                    <hr/>

                    <setting-input data-bind="radioInput: ldap_type_config"
                                   data-binding="enable: ldap_enabled() && !ldap_type_environment(), checked: ldap_type"
                                   data-opt0-label="OpenLDAP" data-opt0-value="ldap"
                                   data-opt1-label="Active Directory" data-opt1-value="ad"></setting-input>

                    <setting-callout data-type="warning" data-bind="settingCallout: ldap_enabled_config"
                                     data-bindings="hidden: ldap_enabled()">
                        <p>This is not editable because the &quot;<span
                            data-bind="text: ldap_enabled_label"></span>&quot; setting is
                            disabled.</p>
                    </setting-callout>

                    <setting-callout data-type="warning" data-bind="settingCallout: ldap_enabled_config"
                                     data-bindings="visible: ldap_enabled() && ldap_type_environment()">
                        <p>This is not editable because this setting is currently defined in the app's environment.</p>
                    </setting-callout>

                    <setting-meta data-bind="settingMeta: ldap_type_config"
                                  data-bind-type="text"></setting-meta>

                    <hr/>

                    <div class="form-group">
                        <label for="ldap_uri">LDAP URI</label>
                        <input type="text" class="form-control"
                               name="ldap_uri"
                               id="ldap_uri"
                               placeholder="e.g. ldaps://your-ldap-server:636"
                               data-bind="enable: ldap_enabled, value: ldap_uri, valueUpdate: 'afterkeydown'">
                    </div>

                    <hr/>

                    <div class="form-group">
                        <label for="ldap_base_dn">LDAP Base DN</label>
                        <input type="text" class="form-control"
                               name="ldap_base_dn"
                               id="ldap_base_dn"
                               placeholder="e.g. dc=mydomain,dc=com"
                               data-bind="enable: ldap_enabled, value: ldap_base_dn, valueUpdate: 'afterkeydown'">
                        <span class="help-block with-errors"></span>
                    </div>

                    <hr data-bind="visible: ldap_type() == 'ldap'" />

                    <div class="form-group"
                         data-bind="visible: ldap_type() == 'ldap'">
                        <label for="ldap_admin_username">LDAP admin
                            username</label>
                        <input type="text" class="form-control"
                               name="ldap_admin_username"
                               id="ldap_admin_username"
                               placeholder="e.g. cn=admin,dc=mydomain,dc=com"
                               data-bind="enable: ldap_enabled() && ldap_type() == 'ldap', value: ldap_admin_username, valueUpdate: 'afterkeydown'">
                        <span class="help-block with-errors"></span>
                    </div>

                    <hr data-bind="visible: ldap_type() == 'ldap'" />

                    <div class="form-group"
                         data-bind="visible: ldap_type() == 'ldap'">
                        <label for="ldap_admin_password">LDAP admin
                            password</label>
                        <input type="password" class="form-control"
                               name="ldap_admin_password"
                               id="ldap_admin_password"
                               placeholder="LDAP Admin password"
                               data-bind="enable: ldap_enabled() && ldap_type() == 'ldap', value: ldap_admin_password, valueUpdate: 'afterkeydown'">
                        <span class="help-block with-errors"></span>
                    </div>

                    <hr data-bind="visible: ldap_type() == 'ad'" />

                    <div class="form-group"
                         data-bind="visible: ldap_type() == 'ad'">
                        <label for="ldap_domain">Active Directory
                            domain</label>
                        <input type="text" class="form-control"
                               name="ldap_domain" id="ldap_domain"
                               placeholder="Active Directory domain"
                               data-bind="enable: ldap_enabled() && ldap_type() == 'ad', value: ldap_domain, valueUpdate: 'afterkeydown'">
                        <span class="help-block with-errors"></span>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <div class="card shadow"
                 data-bind="classFlip: ldap_enabled, classFlipClasses: ['card-success', 'card-secondary']">

                <div class="card-header">
                    <h3 class="card-title">LDAP Filters</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="form-group">
                        <label for="ldap_filter_basic">Basic filter</label>
                        <input type="text" class="form-control"
                               name="ldap_filter_basic"
                               id="ldap_filter_basic"
                               placeholder="e.g. (objectClass=inetorgperson)"
                               data-bind="enable: ldap_enabled, value: ldap_filter_basic, valueUpdate: 'afterkeydown'">
                        <span class="help-block with-errors"></span>
                    </div>
                    <div class="form-group">
                        <label for="ldap_filter_username">Username
                            field</label>
                        <input type="text" class="form-control"
                               name="ldap_filter_username"
                               id="ldap_filter_username"
                               placeholder="e.g. uid"
                               data-bind="enable: ldap_enabled, value: ldap_filter_username, valueUpdate: 'afterkeydown'">
                        <span class="help-block with-errors"></span>
                    </div>
                    <div class="form-group"
                         data-bind="visible: ldap_type() == 'ldap'">
                        <label for="ldap_filter_group">Group
                            filter</label>
                        <input type="text" class="form-control"
                               name="ldap_filter_group"
                               id="ldap_filter_group"
                               placeholder="e.g. (objectclass=groupOfNames)"
                               data-bind="enable: ldap_enabled() && ldap_type() == 'ldap', value: ldap_filter_group, valueUpdate: 'afterkeydown'">
                        <span class="help-block with-errors"></span>
                    </div>
                    <div class="form-group"
                         data-bind="visible: ldap_type() == 'ldap'">
                        <label for="ldap_filter_groupname">Group name
                            field</label>
                        <input type="text" class="form-control"
                               name="ldap_filter_groupname"
                               id="ldap_filter_groupname"
                               placeholder="e.g. member"
                               data-bind="enable: ldap_enabled() && ldap_type() == 'ldap', value: ldap_filter_groupname, valueUpdate: 'afterkeydown'">
                        <span class="help-block with-errors"></span>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->

        <div class="col-12 col-sm-6">
            <div class="card shadow"
                 data-bind="classFlip: ldap_sg_enabled, classFlipClasses: ['card-success', 'card-secondary']">

                <div class="card-header">
                    <setting-title data-bind="settingTitle: ldap_sg_enabled_config"></setting-title>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <setting-meta data-bind="settingMeta: ldap_sg_enabled_config"
                                  data-bind-type="textFlip"></setting-meta>

                    <setting-input data-bind="switchInput: ldap_sg_enabled_config"
                                   data-disabled="!ldap_enabled() || ldap_sg_enabled_environment()"
                                   data-profile="enabled-success"></setting-input>

                    <setting-callout data-type="warning" data-bind="settingCallout: ldap_sg_enabled_config"
                                     data-bindings="hidden: ldap_enabled">
                        <p>This is not editable because the &quot;<span
                            data-bind="text: ldap_enabled_label"></span>&quot; setting is disabled.</p>
                    </setting-callout>

                    <setting-callout data-type="warning" data-bind="settingCallout: ldap_sg_enabled_config"
                                     data-bindings="visible: ldap_enabled() && ldap_sg_enabled_environment()">
                        <p>This is not editable because this setting is currently defined in the app's environment.</p>
                    </setting-callout>

                    <hr/>
                    
                    <div class="form-group">
                        <label for="ldap_admin_group">Admin group</label>
                        <input type="text" class="form-control"
                               name="ldap_admin_group" id="ldap_admin_group"
                               placeholder="e.g. cn=sysops,dc=mydomain,dc=com"
                               data-bind="enable: ldap_enabled() && ldap_sg_enabled(), value: ldap_admin_group, valueUpdate: 'afterkeydown'">
                        <span class="help-block with-errors"></span>
                    </div>
                    <div class="form-group">
                        <label for="ldap_operator_group">Operator
                            group</label>
                        <input type="text" class="form-control"
                               name="ldap_operator_group"
                               id="ldap_operator_group"
                               placeholder="e.g. cn=operators,dc=mydomain,dc=com"
                               data-bind="enable: ldap_enabled() && ldap_sg_enabled(), value: ldap_operator_group, valueUpdate: 'afterkeydown'">
                        <span class="help-block with-errors"></span>
                    </div>
                    <div class="form-group">
                        <label for="ldap_user_group">User group</label>
                        <input type="text" class="form-control"
                               name="ldap_user_group" id="ldap_user_group"
                               placeholder="e.g. cn=users,dc=mydomain,dc=com"
                               data-bind="enable: ldap_enabled() && ldap_sg_enabled(), value: ldap_user_group, valueUpdate: 'afterkeydown'">
                        <span class="help-block with-errors"></span>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <div class="card shadow"
                 data-bind="classFlip: autoprovisioning, classFlipClasses: ['card-success', 'card-secondary']">

                <div class="card-header">
                    <setting-title data-bind="settingTitle: autoprovisioning_config"></setting-title>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <setting-meta data-bind="settingMeta: autoprovisioning_config"
                                  data-bind-type="textFlip"></setting-meta>

                    <setting-input data-bind="switchInput: autoprovisioning_config"
                                   data-disabled="!ldap_enabled() || autoprovisioning_environment()"
                                   data-profile="enabled-success"></setting-input>

                    <setting-callout data-type="warning" data-bind="settingCallout: autoprovisioning_config"
                                     data-bindings="hidden: ldap_enabled">
                        <p>This is not editable because the &quot;<span
                            data-bind="text: ldap_enabled_label"></span>&quot; setting is disabled.</p>
                    </setting-callout>

                    <setting-callout data-type="warning" data-bind="settingCallout: autoprovisioning_config"
                                     data-bindings="visible: ldap_enabled() && autoprovisioning_environment()">
                        <p>This is not editable because this setting is currently defined in the app's environment.</p>
                    </setting-callout>

                    <hr/>

                    <div class="form-group">
                        <label for="autoprovisioning_attribute">Roles
                            provisioning
                            field</label>
                        <input type="text" class="form-control"
                               name="autoprovisioning_attribute"
                               id="autoprovisioning_attribute"
                               placeholder="e.g. eduPersonEntitlement"
                               data-bind="enable: ldap_enabled() && autoprovisioning(), value: autoprovisioning_attribute, valueUpdate: 'afterkeydown'">
                        <span class="help-block with-errors"></span>
                    </div>

                    <div
                        class="form-group {% if error %}has-error{% endif %}">
                        <label for="urn_value">Urn prefix</label>
                        <input type="text" class="form-control"
                               name="urn_value"
                               id="urn_value"
                               placeholder="e.g. urn:mace:<yourOrganization>"
                               data-bind="enable: ldap_enabled() && autoprovisioning(), value: urn_value, valueUpdate: 'afterkeydown'">
                        {% if error %}
                            <span
                                class="help-block with-errors">Please input the correct prefix for your urn value</span>
                        {% endif %}
                    </div>

                    <hr/>

                    <label data-bind="text: purge_label"></label>

                    <setting-meta data-bind="settingMeta: purge_config"
                                  data-bind-type="textFlip"></setting-meta>

                    <setting-input data-bind="switchInput: purge_config"
                                   data-disabled="!ldap_enabled() || !autoprovisioning() || purge_environment()"
                                   data-profile="enabled-warning-on"></setting-input>

                    <setting-callout data-type="warning" data-bind="settingCallout: purge_config"
                                     data-bindings="visible: !ldap_enabled()">
                        <p>This is not editable because the &quot;<span
                            data-bind="text: ldap_enabled_label"></span>&quot; setting is disabled.</p>
                    </setting-callout>

                    <setting-callout data-type="warning" data-bind="settingCallout: purge_config"
                                     data-bindings="visible: ldap_enabled() && !autoprovisioning()">
                        <p>This is not editable because the &quot;<span
                            data-bind="text: autoprovisioning_label"></span>&quot; setting is disabled.</p>
                    </setting-callout>

                    <setting-callout data-type="warning" data-bind="settingCallout: autoprovisioning_config"
                                     data-bindings="visible: ldap_enabled() && autoprovisioning() && autoprovisioning_environment()">
                        <p>This is not editable because this setting is currently defined in the app's environment.</p>
                    </setting-callout>

                    <div class="callout callout-warning"
                         data-bind="visible: purge">
                        <h5>Notice!</h5>
                        <p>Users will lose their associated zones unless
                            they already have their auto-provisioning field
                            prepopulated.</p>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.tab-pane -->