{% extends "base.html" %}
{% set active_page = "settings" %}
{% block title %}<title>Settings Editor - {{ SITE_NAME }}</title>{% endblock %}

{% block dashboard_stat %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Application Settings</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ url_for('dashboard.dashboard') }}">Home</a></li>
                        <li class="breadcrumb-item active">Settings</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <form id="settings-editor">
                        <div class="card card-primary shadow">
                            <div class="card-header">
                                <h3 class="card-title">Settings Editor</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body pl-2 pr-2">
                                <div class="overlay-wrapper" data-bind="visible: loading() || saving()">
                                    <div class="overlay">
                                        <i class="fas fa-3x fa-spin fa-sync-alt"
                                           data-bind="class: loading() ? 'fa-sync-alt' : 'fa-save'"></i>
                                        <div class="text-bold pt-2 pl-2"
                                             data-bind="text: (loading() ? 'Loading' : 'Saving') + ' settings...'">
                                            Loading settings...
                                        </div>
                                    </div>
                                </div>
                                <!-- /.overlay-wrapper -->
                                <div class="alert alert-dismissible alert-success" style="display: none;"
                                     data-bind="visible: saved">
                                    <button type="button" class="close" aria-hidden="true"
                                            data-bind="click: saved(false)">×
                                    </button>
                                    <h5><i class="icon fas fa-check"></i> Saved!</h5>
                                    These settings have been saved to the database.
                                </div>
                                <div class="alert alert-dismissible alert-danger" style="display: none;"
                                     data-bind="visible: save_failed">
                                    <button type="button" class="close" aria-hidden="true"
                                            data-bind="click: save_failed(false)">×
                                    </button>
                                    <h5><i class="icon fas fa-ban"></i> Error!</h5>
                                    These settings could <strong>not</strong> be saved to the database!
                                </div>
                                <div class="alert alert-dismissible" style="display: none;"
                                     data-bind="visible: messages().length, class: 'alert alert-dismissible alert-' + messages_class()">
                                    <button type="button" class="close" aria-hidden="true"
                                            data-bind="click: messages([])">×
                                    </button>
                                    <h5><i class="icon fas fa-info"></i> Additional Information</h5>
                                    <ul data-bind="foreach: messages">
                                        <li data-bind="text: $data"></li>
                                    </ul>
                                </div>
                                <div class="nav-tabs-custom">
                                    {% include 'settings/tabs.html' %}
                                    <div class="tab-content pt-2">
                                        {% include 'settings/tabs/authentication.html' %}
                                        {% include 'settings/tabs/mail.html' %}
                                        {% include 'settings/tabs/powerdns.html' %}
                                        {% include 'settings/tabs/security.html' %}
                                        {% include 'settings/tabs/ui.html' %}
                                        {% include 'settings/tabs/zone-editor.html' %}
                                    </div>
                                    <!-- /.tab-content -->
                                </div>
                                <!-- /.nav-tabs-custom -->
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <div class="error"></div>
                                <button type="button" class="btn btn-primary"
                                        data-bind="disabled: loading() || saving(), click: onSaveClick"
                                        title="Save Settings">
                                    <i class="fa-solid fa-save"></i>&nbsp;Save Settings
                                </button>
                            </div>
                            <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->
                    </form>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
{% endblock %}

{% block head_styles %}
    <style>
        .error { color: red !important; }
    </style>
{% endblock %}

{% block extrascripts %}
    <script src="{{ url_for('static', filename='custom/js/knockout-bootstrap-switch.js') }}"></script>
    <script src="{{ url_for('static', filename='custom/js/app-settings-editor.js') }}"></script>
    <script>
        $(function () {
            let options = {
                debug: true,
                url: '{{ url_for('settings.api') }}',
                token: '{{ csrf_token() }}',
                selector: '#settings-editor',
                templates: ['input_number', 'input_switch', 'setting_callout', 'setting_meta', 'setting_title'],
            };
            let model = new SettingsEditorModel({}, options);
            model.init(true);
        })
    </script>
{% endblock %}

{% block templates %}
    <script type="text/html" id="input_number">
        <div class="form-group">
            <label for="{setting_name}" data-bind="text: {setting_name}_label"></label>
            <input type="number" class="form-control"
                   name="{setting_name}" id="{setting_name}"
                   data-bind="disable: {disabled}, value: {setting_name}, valueUpdate: 'afterkeydown'">
        </div>
    </script>

    <script type="text/html" id="input_switch">
        <div class="form-group">
            <input type="checkbox" id="{setting_name}" name="{setting_name}"
                   data-profile="{profile}"
                   data-bind="checked: {setting_name}, bootstrapSwitch: {setting_name}, inputDisabled: {disabled}">
        </div>
    </script>

    <script type="text/html" id="setting_callout">
        <div class="callout callout-{callout_type} mt-3" data-bind="{callout_bindings}">{callout_content}</div>
    </script>

    <script type="text/html" id="setting_meta">
        <p data-bind="text: {setting_name}_description"></p>
        <p class="mt-3">Default: <span class="text-bold" data-bind="{bind_type}: {setting_name}_default"></span></p>
    </script>

    <script type="text/html" id="setting_title">
        <h3 class="card-title" data-bind="text: {setting_name}_label"></h3>
    </script>
{% endblock %}
