{% extends "base.html" %}
{% set active_page = "admin_users" %}
{% block title %}<title>Users - {{ SITE_NAME }}</title>{% endblock %}

{% block dashboard_stat %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Users</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ url_for('dashboard.dashboard') }}">Home</a></li>
                        <li class="breadcrumb-item active">Users</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-outline card-primary shadow">
                        <div class="card-header">
                            <h3 class="card-title">Users</h3>
                            <div class="card-tools">
                                <a href="{{ url_for('admin.edit_user') }}">
                                    <button type="button" class="btn btn-primary button_add_user" title="Create User">
                                        <i class="fa-solid fa-plus"></i>&nbsp;Create User
                                    </button>
                                </a>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive">
                            <table id="tbl_users"
                                   class="table table-bordered table-striped table-hover table-sm records">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Privileges</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr class="odd gradeX">
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.firstname }}</td>
                                        <td>{{ user.lastname }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>
                                            <select id="{{ user.username }}" class="user_role"
                                                    {% if user.username==current_user.username or (current_user.role.name=='Operator' and user.role.name=='Administrator') %}disabled{% endif %}>
                                                {% for role in roles %}
                                                    <option value="{{ role.name }}"
                                                            {% if role.id==user.role.id %}selected{% endif %}>
                                                        {{ role.name }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-warning button_revoke"
                                                    title="Revoke Privileges"
                                                    id="{{ user.username }}"
                                                    {% if current_user.role.name=='Operator' and user.role.name=='Administrator' %}disabled{% endif %}>
                                                <i class="fa-solid fa-link-slash"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle" type="button"
                                                        id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false"
                                                        {% if current_user.role.name=='Operator' and user.role.name=='Administrator' %}disabled{% endif %}>
                                                    <i class="fa-solid fa-bars"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                                                    <button type="button" class="dropdown-item btn-warning"
                                                            onclick="window.location.href='{{ url_for('admin.edit_user', user_username=user.username) }}'">
                                                        <i class="fa-solid fa-edit"></i>&nbsp;Edit User
                                                    </button>
                                                    {% if not user.username==current_user.username or (current_user.role.name=='Operator' and user.role.name=='Administrator') %}
                                                        <div class="dropdown-divider"></div>
                                                        <button type="button"
                                                                class="dropdown-item btn-secondary button_delete"
                                                                id="{{ user.username }}">
                                                            <span style="color: red;">
                                                                <i class="fa-solid fa-trash"></i>&nbsp;Delete User
                                                            </span>
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
{% endblock %}

{% block extrascripts %}
    <script>
        // set up user data table
        $("#tbl_users").DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": false,
            "autoWidth": false,
            "lengthMenu": [
                [10, 25, 50, 100, -1],
                [10, 25, 50, 100, "All"]
            ],
            "pageLength": 10
        });

        // handle revocation of privileges
        $(document.body).on('click', '.button_revoke', function () {
            var modal = $("#modal_revoke");
            var username = $(this).prop('id');
            var info = "Are you sure you want to revoke all privileges for user " + username +
                "? They will not able to access any zone.";
            modal.find('.modal-body p').text(info);
            modal.find('#button_revoke_confirm').click(function () {
                var postdata = {
                    'action': 'revoke_user_privileges',
                    'data': username,
                    '_csrf_token': '{{ csrf_token() }}'
                }
                applyChanges(postdata, $SCRIPT_ROOT + '/admin/manage-user', true);
                modal.modal('hide');
            })
            modal.modal('show');
        });

        // handle deletion of user
        $(document.body).on('click', '.button_delete', function () {
            var modal = $("#modal_delete");
            var username = $(this).prop('id');
            var info = "Are you sure you want to delete user " + username + "?";
            modal.find('.modal-body p').text(info);
            modal.find('#button_delete_confirm').click(function () {
                var postdata = {
                    'action': 'delete_user',
                    'data': username,
                    '_csrf_token': '{{ csrf_token() }}'
                }
                applyChanges(postdata, $SCRIPT_ROOT + '/admin/manage-user', false, true);
                modal.modal('hide');
            })
            modal.modal('show');
        });

        // handle user role changing
        $(document.body).on('change', '.user_role', function () {
            var role_name = this.value;
            var username = $(this).prop('id');
            var postdata = {
                'action': 'update_user_role',
                'data': {
                    'username': username,
                    'role_name': role_name
                },
                '_csrf_token': '{{ csrf_token() }}'
            };
            applyChanges(postdata, $SCRIPT_ROOT + '/admin/manage-user', showResult = true);
        });
    </script>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="modal_revoke">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-danger float-right" id="button_revoke_confirm">
                        Revoke
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default float-right" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-danger float-right" id="button_delete_confirm">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
