{% extends "base.html" %}
{% set active_page = "admin_roles" %}
{% block title %}<title>Edit Role - {{ SITE_NAME }}</title>{% endblock %}

{% block dashboard_stat %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Role
        <small>{% if create %}New role{% else %}{{ role.name }}{% endif %}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ url_for('dashboard.dashboard') }}"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="{{ url_for('admin.manage_roles') }}">Roles</a></li>
        <li class="active">{% if create %}Add{% else %}Edit{% endif %} role</li>
    </ol>
</section>
{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{% if create %}Add{% else %}Edit{% endif %} role</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post"
                    action="{% if create %}{{ url_for('admin.edit_role') }}{% else %}{{ url_for('admin.edit_role', role_name=role.name) }}{% endif %}">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="create" value="{{ create }}">
                    <div class="box-body">
                        {% if error %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-ban"></i> Error!</h4>
                            {{ error }}
                        </div>
                        <span class="help-block">{{ error }}</span>
                        {% endif %}
                        <div
                            class="form-group has-feedback {% if invalid_rolename or duplicate_rolename %}has-error{% endif %}">
                            <label class="control-label" for="rolename">Name</label>
                            <input type="text" class="form-control" placeholder="Role Name (required)"
                                name="rolename" {% if role %}value="{{ role.name }}" {% endif %}
                                {% if not create %}disabled{% endif %}>
                            <span class="fa fa-cog form-control-feedback"></span>
                            {% if invalid_rolename %}
                            <span class="help-block">Cannot be blank and must only contain alphanumeric
                                characters.</span>
                            {% elif duplicate_rolename %}
                            <span class="help-block">Role name already in use.</span>
                            {% endif %}
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="roledescription">Description</label>
                            <input type="text" class="form-control" placeholder="Role Description (optional)"
                                name="roledescription" {% if role %}value="{{ role.description }}" {% endif %}>
                            <span class="fa fa-industry form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="box-header with-border">
                        <h3 class="box-title">Access Control</h3>
                    </div>
                    <div class="box-body">
                        <p>Users on the right are given the current Role.<br />
                        Users removed from the right column will be given the default "User" role.
                        </p>
                        <p>Click on users to move between columns.</p>
                        <div class="form-group col-xs-2">
                            <select multiple="multiple" class="form-control" id="role_multi_user"
                                name="role_multi_user">
                                {% for user in users %}
                                <option {% if user.id in role_user_ids|default([]) %}selected{% endif %}
                                    value="{{ user.username }}">{{ user.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th style="width: 40px">Record</th>
                                <th>Forward Zone</th>
                                <th>Reverse Zone</th>
                            </tr>
                            {% for record in f_records %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ record }}</td>
                                <td class='record_privs' id="{{ record + '_forward_' }} {{loop.index}}">
                                    R
                                    <input  type="checkbox" id="forward_r_{{ record|lower }}" name="forward_r_{{ record|lower }}"
                                        class="checkbox read" {% if f_records[record] %}checked{% endif %}>
                                    W
                                    <input type="checkbox" id="forward_w_{{ record|lower }}" name="forward_w_{{ record|lower }}"
                                        class="checkbox write" {% if f_records[record] %}checked{% endif %}>
                                </td>
                                <td class='record_privs' id="{{ record + '_reverse_' }} {{loop.index }}">
                                    R
                                    <input type="checkbox" id="reverse_r_{{ record|lower }}" name="reverse_r_{{ record|lower }}"
                                        class="checkbox read" {% if r_records[record] %}checked{% endif %}>
                                    W
                                    <input type="checkbox" id="reverse_w_{{ record|lower }}" name="reverse_w_{{ record|lower }}"
                                        class="checkbox write" {% if r_records[record] %}checked{% endif %}>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="box-footer">
                        <button type="submit"
                            class="btn btn-flat btn-primary">{% if create %}Create{% else %}Update{% endif %}
                            Role</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Help with creating a new role</h3>
                </div>
                <div class="box-body">
                    <p>
                        Custom roles can be built upon the limited User role, to give specific entities
                        just enough control over specific Record types.<br />
                        A user can be assigned a specific Role in this Edit Role page, 
                        as well as on the Manage User page.
                    </p>
                    <p>Fill in all the fields to the in the form to the left.</p>
                    <p>
                        <strong>Name</strong> is the name of the role. It cannot be edited after creation.<br />
                        <strong>Description</strong> is a user friendly name for this role.<br />
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}
{% block extrascripts %}
<script>
    $("#role_multi_user").multiSelect({
        selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Username'>",
        selectionHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Username'>",
        afterInit: function (ms) {
            var that = this,
                $selectableSearch = that.$selectableUl.prev(),
                $selectionSearch = that.$selectionUl.prev(),
                selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

            that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                .on('keydown', function (e) {
                    if (e.which === 40) {
                        that.$selectableUl.focus();
                        return false;
                    }
                });

            that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                .on('keydown', function (e) {
                    if (e.which == 40) {
                        that.$selectionUl.focus();
                        return false;
                    }
                });
        },
        afterSelect: function () {
            this.qs1.cache();
            this.qs2.cache();
        },
        afterDeselect: function () {
            this.qs1.cache();
            this.qs2.cache();
        }
    });


    $('.checkbox').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        increaseArea: '20%'
    });
</script>
{% endblock %}
