{% extends "base.html" %}

{% set active_page = "admin_settings" %}

{% block title %}
  <title>
    DNS Records Settings - {{ SITE_NAME }}
  </title>
{% endblock %}

{% block dashboard_stat %}
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">
            Settings
            <small>Records</small>
          </h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a></li>
            <li class="breadcrumb-item active">Settings - Records </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-5">
        <div class="card card-primary">
          <div class="card-header with-border">
            <h3 class="card-title">DNS record Settings</h3>
          </div>
          <form role="form" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="create" value="{{ create }}">
            <div class="card-body">
              <table class="table table-bordered">
                <tr>
                  <th style="width: 10px">#</th>
                  <th style="width: 40px">Record</th>
                  <th>Forward Zone</th>
                  <th>Reverse Zone</th>
                </tr>
                {% for record in f_records %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ record }}</td>
                    <td>
                      <input type="checkbox" id="fr_{{ record|lower }}" name="fr_{{ record|lower }}"
                      class="checkbox" {% if f_records[record] %}checked{% endif %}>
                    </td>
                    <td>
                      <input type="checkbox" id="rr_{{ record|lower }}" name="rr_{{ record|lower }}"
                      class="checkbox" {% if r_records[record] %}checked{% endif %}>
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-flat btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-7">
        <div class="card card-primary">
          <div class="card-header with-border">
            <h3 class="card-title">Help</h3>
          </div>
          <div class="card-body">
            <p>Select record types you allow user to edit in the forward zone and reverse zone. Take a look at
              <a href="https://doc.powerdns.com/authoritative/appendices/types.html">PowerDNS docs</a> for
              full list of supported record types.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block extrascripts %}
  <script>
    $('.checkbox').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      increaseArea: '20%'
    })
  </script>
{% endblock %}
