{% extends "base.html" %}
{% set active_page = "server_statistics" %}
{% set page_title = 'Server Statistics' %}
{% block title %}<title>Server Statistics - {{ SITE_NAME }}</title>{% endblock %}


{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-outline card-primary shadow">
                        <div class="card-header">
                            <h3 class="card-title">Server Statistics</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive">
                            <table id="tbl_statistics" class="table table-bordered table-striped table-hover table-sm">
                                <thead>
                                <tr>
                                    <th>Statistic</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for statistic in statistics %}
                                    <tr class="odd gradeX">
                                        <td>
                                            <a href="https://doc.powerdns.com/authoritative/search.html?q={{ statistic['name'] }}"
                                               target="_blank" class="btn btn-primary" title="Search Documentation">
                                                <i class="fa fa-search"></i>&nbsp;{{ statistic['name'] }}
                                            </a>
                                        </td>
                                        <td>{{ statistic['value'] }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
{% endblock %}

{% block extrascripts %}
    <script>
        // Initialize DataTables
        initDataTable("#tbl_statistics");
    </script>
{% endblock %}
