{% extends "base.html" %}
{% set active_page = "admin_settings" %}
{% block title %}
<title>Basic Settings - {{ SITE_NAME }}</title>
{% endblock %} {% block dashboard_stat %}
<!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">
            Settings
            <small>Basic</small>
          </h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a></li>
            <li class="breadcrumb-item active">Settings - Basic</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

{% endblock %} {% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header with-border">
        <h3 class="card-title">Basic Settings</h3>
      </div>
      <div class="card-body">
        <table id="tbl_settings" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Value</th>
              <th>Change</th>
            </tr>
          </thead>
          <tbody>
            {% for setting in settings %}
              <tr class="odd">
                <td>
                  {{ setting }}
                </td>
                {% if SETTING.get(setting) in [True, False] %}
                  <td>{{ SETTING.get(setting)|display_setting_state }}</td>
                  <td width="6%">
                    <button type="button" class="btn btn-warning setting-toggle-button" id="{{ setting }}">
                      Toggle
                      <i class="fa fa-info"></i>
                    </button>
                  </td>
                {% else %}
                  <td>
                    <input name="value" id="value" value="{{ SETTING.get(setting) }}">
                  </td>
                  <td width="6%">
                    <button type="button" class="btn btn-warning setting-save-button" id="{{ setting }}">
                      Save
                      <i class="fa fa-info"></i>
                    </button>
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block extrascripts %}
<script>
    // set up history data table
    $("#tbl_settings").DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false
    });
    $(document.body).on('click', '.setting-toggle-button', function () {
        var setting = $(this).prop('id');
        applyChanges({
            '_csrf_token': '{{ csrf_token() }}'
        }, $SCRIPT_ROOT + '/admin/setting/basic/' + setting + '/toggle', false, true)
    });

    $(document.body).on('click', '.setting-save-button', function () {
        var setting = $(this).prop('id');
        var value = $(this).parents('tr').find('#value')[0].value;
        var postdata = {
            'value': value,
            '_csrf_token': '{{ csrf_token() }}'
        };
        applyChanges(postdata, $SCRIPT_ROOT + '/admin/setting/basic/' + setting + '/edit', false, true)
    });
</script>
{% endblock %}
