<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        {% include 'includes/theme_bootstrap.html' %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
        {% block title %}<title>{{ SITE_NAME }}</title>{% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/source_sans_pro.css') }}">
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Tell Safari to not recognise telephone numbers -->
        <meta name="format-detection" content="telephone=no">
        {% assets "css_main" -%}
            <link rel="stylesheet" href="{{ ASSET_URL }}">{%- endassets %}
        {% if SETTING.get('custom_css') %}
            <link rel="stylesheet" href="/static/custom/{{ SETTING.get('custom_css') }}">
        {% endif %}
        {% block head_styles %}{% endblock %}
    {% endblock %}
</head>

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary{% if not SETTING.get('fullscreen_layout') %} pda-layout-boxed{% endif %}">
{% set user_image_url = url_for('user.image', username=current_user.username) %}
<div class="app-wrapper">
    {% block pageheader %}
        {% include 'includes/navbar.html' %}
    {% endblock %}
    {% include 'includes/sidebar.html' %}

    <main class="app-main">
        {% block page_header_before %}{% endblock %}
        {% include 'includes/page_header.html' %}
        {% block page_header_after %}{% endblock %}
        <div class="app-content">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer class="app-footer">
        <strong><a href="https://github.com/PowerDNS-Admin/PowerDNS-Admin">PowerDNS-Admin</a></strong> - A PowerDNS web
        interface with advanced features.
        <span class="float-end">Version {{ APP_VERSION }}</span>
    </footer>
</div>
<!-- ./app-wrapper -->
<script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% block scripts %}
    {% assets "js_main" -%}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% if SETTING.get('warn_session_timeout') and current_user.is_authenticated %}
            <script>
                // Close the session warning popup when another tab extends it.
                var bc = new BroadcastChannel('powerdnsadmin');
                bc.addEventListener('message', function (e) {
                    if (e.data === 'close_session_timeout_modal') {
                        hideModal('#modal_session_warning');
                    }
                });

                // Stay Signed In button click event
                $(document.body).on("click", ".button_stay_signed_in", function (e) {
                    $.get({
                        url: $.jTimeout().options.extendUrl,
                        cache: false,
                        success: function () {
                            $.jTimeout().resetExpiration();
                        }
                    });
                    $.jTimeout().options.onClickExtend();
                });

                // Sign Out button click event
                $(document.body).on("click", ".button_sign_out", function (e) {
                    window.location.replace("{{ url_for('index.logout') }}");
                });

                // jTimeout definition
                $(function () {
                    var sessionWarningElement = document.getElementById('modal_session_warning');
                    var sessionWarningTimer;

                    sessionWarningElement.addEventListener('show.bs.modal', function () {
                        var secondsLeft = jTimeout.getSecondsTillExpiration();
                        sessionWarningTimer = timer($('#modal-time'), secondsLeft);
                    });
                    sessionWarningElement.addEventListener('hidden.bs.modal', function () {
                        clearInterval(sessionWarningTimer);
                        $('#modal-time').text("");
                    });

                    $.jTimeout({
                        flashTitle: true,
                        flashTitleSpeed: 500,
                        flashingTitleText: '**WARNING**',
                        originalTitle: document.title,
                        timeoutAfter: {{ SETTING.get('session_timeout')|int * 60 }},
                        secondsPrior: 60,
                        heartbeat: 1,
                        extendOnMouseMove: true,
                        mouseDebounce: 30,
                        extendUrl: '{{ url_for("index.ping") }}',
                        logoutUrl: '{{ url_for("index.logout") }}',
                        loginUrl: '{{ url_for("index.login") }}',

                        onClickExtend: function () {
                            // broadcast a message to tell other tabes
                            // close the session warning popup
                            var bc = new BroadcastChannel('powerdnsadmin');
                            bc.postMessage('close_session_timeout_modal');
                        },

                        onMouseMove: function () {
                            // Do not extend the session while the warning is visible.
                            if (!$('#modal_session_warning').hasClass('show')) {
                                $.get({
                                    url: $.jTimeout().options.extendUrl,
                                    cache: false,
                                    success: function () {
                                        $.jTimeout().resetExpiration();
                                    }
                                });
                            }
                        },

                        onTimeout: function (jTimeout) {
                            window.location.replace("{{ url_for('index.logout') }}");
                        },

                        onPriorCallback: function (jTimeout) {
                            showModal('#modal_session_warning');
                        },

                        onSessionExtended: function (jTimeout) {
                            hideModal('#modal_session_warning');
                        }
                    });
                });
            </script>
        {% endif %}
    {%- endassets %}
{% endblock %}
{% block extrascripts %}
{% endblock %}
{% block defaultmodals %}
    {% include 'includes/default_modals.html' %}
{% endblock %}
{% block modals %}
{% endblock %}
</body>
</html>
