{% extends "base.html" %}
{% set active_page = "new_domain" %}
{% set page_title = 'Create Zone' %}
{% block title %}<title>Create Zone - {{ SITE_NAME }}</title>{% endblock %}


{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    <form role="form" method="post" action="{{ url_for('domain.add') }}" class="needs-validation" novalidate>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        <div class="card card-outline card-primary shadow">
                            <div class="card-header">
                                <h3 class="card-title">Zone Editor</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="domain_name">Zone Name</label>
                                    <input type="text" class="form-control" name="domain_name" id="domain_name"
                                           placeholder="Enter a valid zone name (required)" required>
                                    <div class="invalid-feedback">Please enter a valid zone name.</div>
                                </div>
                                {% if domain_override_toggle == True %}
                                    <div class="form-check mb-3">
                                        <input type="checkbox" id="domain_override" name="domain_override"
                                               class="form-check-input">
                                        <label class="form-check-label" for="domain_override">Zone Override Record</label>
                                    </div>
                                {% endif %}
                                <div class="mb-3">
                                    <label for="selAccount">Account</label>
                                    <select name="accountid" id="selAccount" class="form-select">
                                        <option value="0">- No Account -</option>
                                        {% for account in accounts %}
                                            <option value="{{ account.id }}">{{ account.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {% if catalog_zones %}
                                    <div class="mb-3">
                                        <label for="selCatalog">Catalog Zone</label>
                                        <select name="catalog_name" id="selCatalog" class="form-select">
                                            <option value="">- No Catalog -</option>
                                            {% for catalog in catalog_zones %}
                                                <option value="{{ catalog.name }}">{{ catalog.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                                <fieldset class="mb-3">
                                    <legend class="col-form-label pt-0">Zone Type</legend>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radio_type" id="radio_type_native" value="native"
                                               checked>
                                        <label class="form-check-label" for="radio_type_native">Native</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radio_type" id="radio_type_primary"
                                               value="primary">
                                        <label class="form-check-label" for="radio_type_primary">Primary</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radio_type" id="radio_type_secondary"
                                               value="slave">
                                        <label class="form-check-label" for="radio_type_secondary">Secondary</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radio_type"
                                               id="radio_type_producer" value="producer">
                                        <label class="form-check-label" for="radio_type_producer">Producer</label>
                                    </div>
                                </fieldset>
                                <div class="mb-3" style="display: none;" id="domain_master_address_div">
                                    <label class="form-label" for="domain_master_address">Primary Server Addresses</label>
                                    <input type="text" class="form-control" name="domain_master_address"
                                           id="domain_master_address"
                                           placeholder="Enter valid Primary Server IP addresses (separated by commas)">
                                </div>
                                <div class="mb-3">
                                    <label for="domain_template">Zone Template</label>
                                    <select class="form-select" id="domain_template" name="domain_template">
                                        <option value="0">No template</option>
                                        {% for template in templates %}
                                            <option value="{{ template.id }}">{{ template.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <fieldset class="mb-3">
                                    <legend class="col-form-label pt-0">SOA-EDIT-API</legend>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radio_type_soa_edit_api" id="radio_default"
                                               value="DEFAULT" checked>
                                        <label class="form-check-label" for="radio_default">DEFAULT</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radio_type_soa_edit_api" id="radio_increase"
                                               value="INCREASE">
                                        <label class="form-check-label" for="radio_increase">INCREASE</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radio_type_soa_edit_api" id="radio_epoch"
                                               value="EPOCH">
                                        <label class="form-check-label" for="radio_epoch">EPOCH</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radio_type_soa_edit_api" id="radio_off"
                                               value="OFF">
                                        <label class="form-check-label" for="radio_off">OFF</label>
                                    </div>
                                </fieldset>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="button" title="Cancel" class="btn btn-secondary"
                                        onclick="window.location.href='{{ url_for('dashboard.dashboard') }}'">
                                    <i class="fa-solid fa-window-close"></i>&nbsp;Cancel
                                </button>
                                <button type="submit" title="Create Zone" class="btn btn-primary float-end">
                                    <i class="fa-solid fa-save"></i>&nbsp;Create Zone
                                </button>
                            </div>
                            <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->
                    </form>
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-lg-8">
                    <div class="card card-outline card-secondary shadow">
                        <div class="card-header">
                            <h3 class="card-title">Zone Editor Help</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <dl class="dl-horizontal">
                                <dt>Zone Name</dt>
                                <dd>Enter your zone name in the format of name.tld (eg. powerdns-admin.com). You can
                                    also enter sublevel zones to create delegate zones (eg. sub.powerdns-admin.com)
                                    which can be useful for delegating control to other users.
                                </dd>
                                <dt>Zone Override Record</dt>
                                <dd>When enabled, this will allow the user to by-pass validation errors if the user
                                    doesn't have administration rights to a parent zone.
                                </dd>
                                <dt>Account</dt>
                                <dd>Specifies the PowerDNS account value to use for the zone.</dd>
                                {% if catalog_zones %}
                                    <dt>Catalog Zone</dt>
                                    <dd>
                                        Optionally associates this zone with an existing producer catalog.
                                    </dd>
                                {% endif %}
                                <dt>Zone Type</dt>
                                <dd>The type decides how the zone will be replicated across multiple DNS servers.
                                    <ul>
                                        <li>
                                            <strong>Native</strong> - The server will not perform any Primary or Secondary
                                            zone functions.
                                        </li>
                                        <li>
                                            <strong>Primary</strong> - The server will serve as the Primary and will send
                                            zone transfers (AXFRs) to other servers configured as secondaries.
                                        </li>
                                        <li>
                                            <strong>Secondary</strong> - The server will serve as the Secondary and will
                                            request and receive zone transfers (AXFRs) from other servers configured as
                                            Primaries.
                                        </li>
                                        <li>
                                            <strong>Producer</strong> - A catalog zone that publishes a list of member
                                            zones so supporting secondary servers can provision them automatically.
                                        </li>
                                    </ul>
                                </dd>
                                <dt>Zone Template</dt>
                                <dd>Specifies the existing zone template which this zone should initially be replicated
                                    from.
                                </dd>
                                <dt>SOA-EDIT-API</dt>
                                <dd>The SOA-EDIT-API setting defines how the SOA serial number will be updated after a
                                    change is
                                    made to the zone.
                                    <ul>
                                        <li>
                                            <strong>DEFAULT</strong> - Generate a soa serial of YYYYMMDD01. If the current serial
                                            is lower than
                                            the generated serial, use the generated serial. If the current serial is
                                            higher or
                                            equal to the generated serial, increase the current serial by 1.
                                        </li>
                                        <li>
                                            <strong>INCREASE</strong> - Increase the current serial by 1.
                                        </li>
                                        <li>
                                            <strong>EPOCH</strong> - Change the serial to the number of seconds since the EPOCH,
                                            AKA UNIX timestamps
                                        </li>
                                        <li>
                                            <strong>OFF</strong> - Disable automatic updates of the SOA serial.
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <p>
                                Find more details at <a href="https://docs.powerdns.com/md/" target="_blank">https://docs.powerdns.com/md/</a>
                            </p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
{% endblock %}

{% block extrascripts %}
    <script>
        $("input[name=radio_type]").change(function () {
            var type = $(this).val();
            if (type == "slave") {
                $("#domain_master_address_div").show();
            } else {
                $("#domain_master_address_div").hide();
            }
        });
    </script>
{% endblock %}

{% block modals %}
    <script>
        {% if domain_override_message %}
            $(document.body).ready(function () {
                var modal = $("#modal_warning");
                var info = "{{ domain_override_message }}";
                modal.find('.modal-body p').text(info);
                showModal(modal);
            });
        {% endif %}
    </script>

    <div class="modal fade" id="modal_warning" tabindex="-1"
         aria-labelledby="modal_warning_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-sm">
                <div class="modal-header alert-danger">
                    <h4 class="modal-title" id="modal_warning_label">
                        WARNING
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            id="button_close_warn_modal"></button>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            id="button_confirm_warn_modal">
                        CLOSE
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
