{% macro password_policy(is_logged_in, current_user, zxcvbn_enabled, pwd_min_len, pwd_min_digits, pwd_min_uppercase, pwd_min_lowercase, pwd_min_special, pwd_must_not_contain) -%}
{{ caller() }}


var csrftoken = document.getElementsByName('_csrf_token')[0].value; // $('[name=_csrf_token]').val()
$.ajaxSetup({
  beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
  }
})

{% if zxcvbn_enabled == false %}
  function charbased_password_policy(fname, lname, username, email, pass, rpass) {
    var pwd_len = parseInt("{{ pwd_min_len }}");
    var n_upper = parseInt("{{ pwd_min_uppercase }}");
    var n_lower = parseInt("{{ pwd_min_lowercase }}");
    var n_digits = parseInt("{{ pwd_min_digits }}");
    var n_special = parseInt("{{ pwd_min_special }}");
    var must_not_contain = "{{ pwd_must_not_contain }}";
    // var pattern = "^(?=(?:.*[0-9]){" + n_digits + ",})(?=(?:.*[a-z]){" + n_lower + ",})(?=(?:.*[A-Z]){" + n_upper + ",})(?=(?:.*[[!@#$%^&*()_+]){" + n_special + ",}).+$";
    // var PasswordRegEx = new RegExp(pattern, 'm');
    var upper_found = 0;
    var lower_found = 0;
    var digits_found = 0;
    var special_found = 0;
    var lower_pattern = /[a-z]/g;
    var upper_pattern = /[A-Z]/g;
    var digits_pattern = /[0-9]/g;
    var special_pattern = /[[!@#$%^&*()_+]/g;
    for (var i = 0; i < pass.length; i++) {
      if (pass[i].match(special_pattern)) special_found++;
      else if (pass[i].match(lower_pattern)) lower_found++;
      else if (pass[i].match(upper_pattern)) upper_found++;
      else if (pass[i].match(digits_pattern)) digits_found++;
    }
    var msg = "";
    if (pass.length < pwd_len) msg += 'at least ' + pwd_len + ' character(s)<br>'
    if (lower_found < n_lower) msg += 'at least ' + n_lower + ' lowercase character(s)<br>';
    if (upper_found < n_upper) msg += 'at least ' + n_upper + ' uppercase character(s)<br>';
    if (digits_found < n_digits) msg += 'at least ' + n_digits + ' digit(s)<br>';
    if (special_found < n_special) msg += 'at least ' + n_special + ' special character(s) from [!@#$%^&*()_+<br>';
    if (msg.length != 0) msg = "Password must contain: <br>" + msg;

    // must not contain
    must_not_contain_msg = "";
    if (must_not_contain.search("username") != -1 && pass.search(username) != -1) must_not_contain_msg += " username<br>"
    if (must_not_contain.search("firstname") != -1 && pass.search(fname) != -1) must_not_contain_msg += " firstname<br>"
    if (must_not_contain.search("lastname") != -1 && pass.search(lname) != -1) must_not_contain_msg += " lastname<br>"
    if (must_not_contain.search("email") != -1 && pass.search(email) != -1) must_not_contain_msg += " email<br>"
    if (must_not_contain_msg.length != 0) must_not_contain_msg = "Password must not contain: <br>" + must_not_contain_msg
    var x = document.getElementById('policy-err');
    x.innerHTML = msg + must_not_contain_msg
    if (msg.length != 0 || must_not_contain_msg.length != 0) {
        document.getElementById('pwd-submit').disabled = true; 
    }
    else if (msg.length == 0 && pass.length != 0 && rpass == pass){ 
        document.getElementById('pwd-submit').disabled = false;
    }
    else {
      document.getElementById('pwd-submit').disabled = true;
    }
  }
{% else %}



var timer = null;
var is_complex = false;
function send_pass() {
  {% if is_logged_in == 0 %}
    var fname = document.getElementById('firstname').value;
    var lname = document.getElementById('lastname').value;
    var email = document.getElementById('email').value;
    var username = document.getElementById('username').value;
  {% else %}
    var fname = '{{current_user.firstname}}';
    var lname = '{{current_user.lastname}}';
    var email = '{{current_user.email}}';
    var username = '{{current_user.username}}';
  {% endif %}
  var password = document.getElementById('password').value;
  

  $.ajax({
      url: "/ratepassword",
      <!-- headers: { "X-CSRFToken": getCookie("csrftoken") }, -->
      type: "post",
      data : { 'logged_in' : {{is_logged_in}} ,'fname': fname, 'lname': lname, 'email' : email, 'username' : username, 'password': password},
      success: function(response) {
        var x = document.getElementById('policy-err');
        // x.innerHTML = response['feedback'];
        x.innerHTML = "<ul>";
        for (let i = 0; i < response['feedback'].length; i++) {
          x.innerHTML += "<li>" + response['feedback'][i] + "</li>";
        }
        x.innerHTML += "</ul>"
        var strength;
        switch (response['strength']) {
          case '':
            strength = ''; // no password was given
            break;
          case 'very weak':
            strength = "<small class='progress-bar bg-danger' style='background-color: #a50021; width: 25%'>Very weak</small>";
            break;
          case 'weak':
            strength = "<small class='progress-bar bg-danger' style='background-color: #f7a73e;width: 50%'>Weak</small>";
            break;
          case 'medium':
            strength = "<small class='progress-bar bg-warning' style='background-color: #a0cb89; width: 75%'>Medium</small>";
            break;
          case 'strong':
            strength = "<small class='progress-bar bg-success' style='background-color: #2e8b57; width: 100%'>Strong</small>";
            break;
          }
          var y = document.getElementById('password-text')
          y.innerHTML = strength;
          var rpass = document.getElementById('rpassword').value;
          if (response['feedback'] != "") {
            document.getElementById('pwd-submit').disabled = true; 
          } else if(!(rpass != password || password.length == 0 || rpass.length == 0)) {
            {% if is_logged_in == 1 %}
            document.getElementById('retype-err').innerHTML = '';
            {% endif %}
            document.getElementById('pwd-submit').disabled = false;
          }
          
      },
      error: function(xhr) {
          console.log("Ajax call to rate pass, has failed")
      }
    });
  timer = null; // turn the timer off
}
// handling password complexity requirements message
$(':input').on('keyup', function() {

  var pass = document.getElementById('password').value;

  var rpass = document.getElementById('rpassword').value;
  if (rpass != pass || pass.length == 0 || rpass.length == 0) {
    {% if is_logged_in == 1 %}

    document.getElementById('retype-err').innerHTML = 'Password confirmation does not match';
    {% endif %}
    document.getElementById('pwd-submit').disabled = true;
  }
  else {
    {% if is_logged_in == 1 %}

    document.getElementById('retype-err').innerHTML = '';
    {% endif %}
  }

  var seconds = 1;
  if (timer == null) {  // if user typed sth and timer is not running, then start one
    timer = setTimeout(send_pass, seconds*1000);
  }
  else { // if user typed sth and timer is still up and running,then reset timer
    clearTimeout(timer);
    timer = null; 
    timer = setTimeout(send_pass, seconds*1000);
  }
});
{% endif %}
{%- endmacro %}