<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome - {{ SITE_NAME }}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assets "css_login" -%}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {%- endassets %}
    {% if SETTING.get('custom_css') %}
        <link rel="stylesheet" href="/static/custom/{{ SETTING.get('custom_css') }}">
    {% endif %}
</head>
<body class="register-page bg-body-secondary">
<div class="register-box">
    <div class="card card-outline card-primary shadow">
        <div class="card-header text-center">
            <a href="{{ url_for('index.index') }}" class="h3"><b>PowerDNS</b>-Admin</a>
        </div>
        <div class="card-body">
        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        Welcome, {{ user.firstname }}! <br/>
        You will need a Token on login. <br/>
        Your QR code is:
        <div id="token_information">
            {% if qrcode_image == None %}
                <p><img id="qrcode" src="{{ url_for('user.qrcode') }}"></p>
            {% else %}
                <p><img id="qrcode" src="data:image/svg+xml;utf8;base64, {{ qrcode_image }}"></p>
            {% endif %}
            <p>Your secret key is:</p>
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="otp_secret" value="{{ user.otp_secret }}" readonly>
                <button type="button" class="btn btn-outline-secondary" onclick="copy_otp_secret_to_clipboard()"
                        aria-label="Copy OTP secret"><i class="fa-solid fa-clipboard"></i></button>
            </div>
            <p class="text-success" id="copy_tooltip" style="visibility:hidden">Copied.</p>
            You can use Google Authenticator (<a target="_blank"
                                                 href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">Android</a>
            - <a target="_blank"
                 href="https://apps.apple.com/us/app/google-authenticator/id388497605">iOS</a>)
            <br/>
            or FreeOTP (<a target="_blank"
                           href="https://play.google.com/store/apps/details?id=org.fedorahosted.freeotp&hl=en">Android</a>
            - <a target="_blank"
                 href="https://itunes.apple.com/en/app/freeotp-authenticator/id872559395?mt=8">iOS</a>)
            on your smartphone <br/> to scan the QR code or type the secret key.
            <br/> <br/>
            <p class="text-danger fw-bold fst-italic">Make sure only you can see this QR code and secret key,
                and that nobody can capture them.</p>
        </div>
        <br>
        Please input your OTP token to continue, to ensure the seed has been scanned correctly.
        <form action="" method="post" data-toggle="validator">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="OTP Token" name="otptoken"
                       data-error="Please input your OTP token" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Continue</button>
        </form>
        </div>
    </div>
    <div class="text-center">
        <p>Powered by <a href="https://powerdnsadmin.org" target="_blank">PowerDNS-Admin</a></p>
    </div>
</div>
<!-- /.register-box -->
{% assets "js_login" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}
{% assets "js_validation" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}
</body>
</html>
