<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <title>Register - {{ SITE_NAME }}</title>
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {% assets "css_login" -%}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {%- endassets %}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="hold-transition register-page">
  <div class="register-box">
    <div class="register-logo">
      <a href="{{ url_for('index.index') }}"><b>PowerDNS</b>-Admin</a>
    </div>
    <div class="register-box-body">
      {% if error %}
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ error }}
      </div>
      {% endif %}
      <p class="login-box-msg">Enter your personal details below</p>
      <form action="{{ url_for('index.register') }}" method="post" data-toggle="validator">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="First Name" id="firstname" name="firstname"
            data-error="Please input your first name" required>
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
          <span class="help-block with-errors"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Last name" id="lastname" name="lastname"
            data-error="Please input your last name" required>
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
          <span class="help-block with-errors"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Email" id="email" name="email"
            data-error="Please input your valid email address" required>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          <span class="help-block with-errors"></span>
        </div>
        <p class="login-box-msg">Enter your account details below</p>
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Username" id="username" name="username"
            data-error="Please input your username" required>
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
          <span class="help-block with-errors"></span>
        </div>
        <div id="pass-feedback" class="form-group">
          <input type="password" class="form-control" placeholder="Password" id="password" name="password"
            required>
          {% if SETTING.get('zxcvbn_enabled') == true %}
          <small class="help-block" id="password-text"></small> <br>
          {% endif %}
          <div id="policy-err" style='color: #df5948;'></div>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Retype password" name="rpassword"
            data-match="#password" data-match-error="Password confirmation does not match" required>
          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
          <span class="help-block with-errors"></span>
        </div>
        <div class="row">
          <div class="col-xs-4 pull-left">
            <button type="button" class="btn btn-flat btn-block" id="button_back">Back</button>
          </div>
          <div class="col-xs-4 pull-right">
            <button type="submit" id="register" class="btn btn-flat btn-primary btn-block">Register</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.form-box -->
    <div class="login-box-footer">
      <center>
        <p>Powered by <a href="https://github.com/ngoduykhanh/PowerDNS-Admin">PowerDNS-Admin</a></p>
      </center>
    </div>
  </div>
  <!-- /.login-box -->

  {% assets "js_login" -%}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets %}
  {% assets "js_validation" -%}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets %}
  <script>
    $(function () {
      $('#button_back').click(function () {
        window.location.href = '{{ url_for('index.login') }}';
      })
    });

    {% if SETTING.get('zxcvbn_enabled') == false %}
    // handling password complexity requirements message
    $(':input').on('keyup', function() {

      var input = document.getElementById('password');
      var pass = input.value;
      var pwd_len = parseInt("{{ SETTING.get('pwd_min_len') }}");
      var n_upper = parseInt("{{ SETTING.get('pwd_min_uppercase') }}");
      var n_lower = parseInt("{{ SETTING.get('pwd_min_lowercase') }}");
      var n_digits = parseInt("{{ SETTING.get('pwd_min_digits') }}");
      var n_special = parseInt("{{ SETTING.get('pwd_min_special') }}");
      var must_not_contain = "{{ SETTING.get('pwd_must_not_contain') }}";
      var pattern = "^(?=(?:.*[0-9]){" + n_digits + ",})(?=(?:.*[a-z]){" + n_lower + ",})(?=(?:.*[A-Z]){" + n_upper + ",})(?=(?:.*[[!@#$%^&*()_+]){" + n_special + ",}).+$";

      var PasswordRegEx = new RegExp(pattern, 'm');
      var upper_found = 0;
      var lower_found = 0;
      var digits_found = 0;
      var special_found = 0;
      var lower_pattern = /[a-z]/g;
      var upper_pattern = /[A-Z]/g;
      var digits_pattern = /[0-9]/g;
      var special_pattern = /[[!@#$%^&*()_+]/g;
      for (var i = 0; i < pass.length; i++) {
        if (pass[i].match(special_pattern)) special_found++;
        else if (pass[i].match(lower_pattern)) lower_found++;
        else if (pass[i].match(upper_pattern)) upper_found++;
        else if (pass[i].match(digits_pattern)) digits_found++;
      }
      var msg = "";
      if (pass.length < pwd_len) msg += 'at least ' + pwd_len + ' character(s)<br>'
      if (lower_found < n_lower) msg += 'at least ' + n_lower + ' lowercase character(s)<br>';
      if (upper_found < n_upper) msg += 'at least ' + n_upper + ' uppercase character(s)<br>';
      if (digits_found < n_digits) msg += 'at least ' + n_digits + ' digit(s)<br>';
      if (special_found < n_special) msg += 'at least ' + n_special + ' special character(s) from [!@#$%^&*()_+ <br>';
      if (msg.length != 0) msg = "Password must have: <br>" + msg;

      // must not contain
      must_not_contain_msg = "";
      var fname = document.getElementById('firstname').value;
      var lname = document.getElementById('lastname').value;
      var email = document.getElementById('email').value;
      var username = document.getElementById('username').value;
      if (must_not_contain.search("username") != -1 && pass.search(username) != -1) must_not_contain_msg += " username<br>"
      if (must_not_contain.search("firstname") != -1 && pass.search(fname) != -1) must_not_contain_msg += " firstname<br>"
      if (must_not_contain.search("lastname") != -1 && pass.search(lname) != -1) must_not_contain_msg += " lastname<br>"
      if (must_not_contain.search("email") != -1 && pass.search(email) != -1) must_not_contain_msg += " email<br>"
      if (must_not_contain_msg.length != 0) must_not_contain_msg = "Password must not contain: <br>" + must_not_contain_msg




      var x = document.getElementById('policy-err');
      x.innerHTML = msg + must_not_contain_msg
      if (msg != "") {
        document.getElementById('register').disabled = true; 
        $('#pass-feedback').addClass("has-error");
      }
      else if (msg.length == 0 && pass.length != 0){ 
        document.getElementById('register').disabled = false;
        $('#pass-feedback').addClass("has-success");
      }
    });


    {% else %}
    var csrftoken = $('meta[name=csrf-token]').attr('content')

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    })
    var timer = null;
    function send_pass() {
      var fname = document.getElementById('firstname').value;
      var lname = document.getElementById('lastname').value;
      var email = document.getElementById('email').value;
      var username = document.getElementById('username').value;
      var password = document.getElementById('password').value;

      $.ajax({
          url: "/ratepassword",
          // headers: { "X-CSRFToken": getCookie("csrftoken") },
          type: "post",
          data : {'fname': fname, 'lname': lname, 'email' : email, 'username' : username, 'password': password},
          success: function(response) {
            console.log('Submission was successful.');
            console.log("Resp = " , response)
            console.log('sccess')
            var x = document.getElementById('policy-err');
            // x.innerHTML = response['feedback'];
            x.innerHTML = "<ul>";
            for (let i = 0; i < response['feedback'].length; i++) {
              x.innerHTML += "<li>" + response['feedback'][i] + "</li>";
            }
            x.innerHTML += "</ul>"
            var strength;
            switch (response['strength']) {
              case '':
                strength = ''; // no password was given
                break;
              case 'very weak':
                strength = "<small class='progress-bar bg-danger' style='background-color: #a50021; width: 25%'>Very weak</small>";
                break;
              case 'weak':
                strength = "<small class='progress-bar bg-danger' style='background-color: #f7a73e;width: 50%'>Weak</small>";
                break;
              case 'medium':
                strength = "<small class='progress-bar bg-warning' style='background-color: #a0cb89; width: 75%'>Medium</small>";
                break;
              case 'strong':
                strength = "<small class='progress-bar bg-success' style='background-color: #2e8b57; width: 100%'>Strong</small>";
                break;
              }
              var y = document.getElementById('password-text')
              y.innerHTML = strength;

              if (response['feedback'] != "") {
                document.getElementById('register').disabled = true; 
                // $('#pass-feedback').addClass("has-error");
              }
              else { 
                document.getElementById('register').disabled = false;
                // $('#pass-feedback').addClass("has-success");
              }
              
          },
          error: function(xhr) {
              console.log("Ajax call to rate pass, has failed")
          }
        });
      timer = null; // turn the timer off
    }
    // handling password complexity requirements message
    $(':input').on('keyup', function() {

      var seconds = 1;
      if (timer == null) {  // if user typed sth and timer is not running, then start one
        timer = setTimeout(send_pass, seconds*1000);
      }
      else { // if user typed sth and timer is still up and running,then reset timer
        clearTimeout(timer);
        timer = null; 
        timer = setTimeout(send_pass, seconds*1000);
      }
    });
    {% endif %}
  </script>
</body>

</html>
