<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Resend Confirmation Email - {{ SITE_NAME }}</title>
    <link rel="icon" href="/static/img/favicon.png">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assets "css_login" -%}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {%- endassets %}
</head>
<body class="register-page bg-body-secondary">
<div class="register-box">
    <div class="card card-outline card-primary shadow">
        <div class="card-header text-center">
            <a href="{{ url_for('index.index') }}" class="h3"><b>PowerDNS</b>-Admin</a>
        </div>
        <div class="card-body">
        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <p>
            Enter your email address to get account confirmation link.
        </p>
        <form method="post" data-toggle="validator">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <div class="mb-3">
                <input type="email" name="email" class="form-control" placeholder="Email address"
                       data-error="Please input your email" required>
            </div>
            <div class="row g-2">
                <div class="col-6">
                    <button type="button" class="btn btn-secondary w-100" id="button_back">Back</button>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary w-100">Resend</button>
                </div>
                <!-- /.col -->
            </div>
            <div class="mt-3">
                <p>
                    {% if status == 0 %}
                        <span class="text-danger">Email not found!</span>
                    {% elif status == 1 %}
                        <span class="text-danger">Email already confirmed!</span>
                    {% elif status == 2 %}
                        <span class="text-success">Confirmation email sent!</span>
                    {% endif %}
                </p>
            </div>
        </form>
        </div>
    </div>
</div>
<!-- /.register-box -->
<div class="text-center pt-3">
    <p>Powered by <a href="https://powerdnsadmin.org" target="_blank">PowerDNS-Admin</a></p>
</div>

{% assets "js_login" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}
{% assets "js_validation" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('button_back').addEventListener('click', function () {
            window.location.href = '{{ url_for('index.login') }}';
        });
    });
</script>
</body>
</html>
