{% extends "base.html" %}
{% set active_page = "admin_domain_template" %}
{% block title %}<title>Edit Zone Template - {{ SITE_NAME }}</title>{% endblock %}

{% block dashboard_stat %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Edit Zone Template</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ url_for('admin.templates') }}">Templates</a></li>
                        <li class="breadcrumb-item active">Edit Zone Template</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-outline card-primary shadow">
                        <div class="card-header">
                            <h3 class="card-title">Zone Template Editor</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-primary float-left button_add_record"
                                        title="Add Record" id="{{ template }}">
                                    <i class="fa-solid fa-plus"></i>&nbsp;Add Record
                                </button>
                                <button type="button" class="btn btn-primary float-right button_apply_changes ml-2"
                                        title="Save Template" id="{{ template }}">
                                    <i class="fa-solid fa-save"></i>&nbsp;Save Template
                                </button>
                            </div>
                        </div>
                        <div class="card-body table-responsive">
                            <table id="tbl_records"
                                   class="table table-bordered table-striped table-hover table-sm records">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>TTL</th>
                                    <th>Data</th>
                                    <th>Comment</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                    <th>ID</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for record in records %}
                                    <tr class="odd row_record">
                                        <td>
                                            {{ record.name }}
                                        </td>
                                        <td>
                                            {{ record.type }}
                                        </td>
                                        <td>
                                            {{ record.status }}
                                        </td>
                                        <td>
                                            {{ record.ttl }}
                                        </td>
                                        <td>
                                            {{ record.data }}
                                        </td>
                                        <td>
                                            {{ record.comment }}
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-warning button_edit"
                                                    title="Edit Record">
                                                <i class="fa-solid fa-edit"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-danger button_delete"
                                                    title="Delete Record">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </td>
                                        <td>{{ id }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extrascripts %}
    <script>
        // superglobals
        window.records_allow_edit = {{ editable_records | tojson }};
        window.ttl_options = {{ ttl_options | tojson }};
        window.nEditing = null;
        window.nNew = false;

        var csrf_token = "{{ csrf_token() }}";

        // Initialize DataTables
        $("#tbl_records").DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            {% if SETTING.get('default_record_table_size')|string in ['5','15','20'] %}
                "lengthMenu": [[5, 15, 20, -1],
                    [5, 15, 20, "All"]],
            {% else %}
                "lengthMenu": [[5, 15, 20, {{ SETTING.get('default_record_table_size') }}, -1],
                    [5, 15, 20, {{ SETTING.get('default_record_table_size') }}, "All"]],
            {% endif %}
            "pageLength": {{ SETTING.get('default_record_table_size') }},
            "language": {
                "lengthMenu": " _MENU_ records"
            },
            "retrieve": true,
            "columnDefs": [
                {
                    type: 'natural',
                    targets: [0, 4]
                },
                {
                    // hidden column so that we can add new records on top
                    // regardless of whatever sorting is done. See orderFixed
                    visible: false,
                    targets: [8]
                },
                {
                    className: "length-break",
                    targets: [4, 5]
                }
            ],
            "orderFixed": [[8, 'asc']]
        });

        // handle delete button
        $(document.body).on("click", ".button_delete", function (e) {
            e.stopPropagation();
            var modal = $("#modal_delete");
            var table = $("#tbl_records").DataTable();
            var record = $(this).prop('id');
            var nRow = $(this).parents('tr')[0];
            var info = "Are you sure you want to delete " + record + "?";
            modal.find('.modal-body p').text(info);
            modal.modal('show');

            $("#button_delete_confirm").unbind().one('click', function (e) {
                table.row(nRow).remove().draw();
                modal.modal('hide');
            });

            $("#button_delete_cancel").unbind().one('click', function (e) {
                modal.modal('hide');
            });
        });

        // handle edit button and record click
        $(document.body).on("click", ".button_edit{% if quick_edit %}, .row_record{% endif %}", function (e) {
            e.stopPropagation();
            if ($(this).is('tr')) {
                var nRow = $(this)[0];
            } else {
                var nRow = $(this).parents('tr')[0];
            }
            var table = $("#tbl_records").DataTable();

            if (nEditing == nRow) {
                /* click on row already being edited, do nothing */
            } else if (nEditing !== null && nEditing != nRow && nNew == false) {
                /* Currently editing - but not this row - restore the old before continuing to edit mode */
                restoreRow(table, nEditing);
                editRow(table, nRow);
                nEditing = nRow;
            } else if (nNew == true) {
                /* adding a new row, delete it and start editing */
                table.row(nEditing).remove().draw();
                nNew = false;
                editRow(table, nRow);
                nEditing = nRow;
            } else {
                /* No edit in progress - let's start one */
                editRow(table, nRow);
                nEditing = nRow;
            }
        });

        // handle apply changes button
        $(document.body).on("click", ".button_apply_changes", function () {
            if (nNew || nEditing) {
                showErrorModal("Previous record not saved. Please save it before applying the changes.");
                return;
            }

            var modal = $("#modal_apply_changes");
            var table = $("#tbl_records").DataTable();
            var template = $(this).prop('id');
            var info = "Are you sure you want to apply your changes?";
            modal.find('.modal-body p').text(info);

            // following unbind("click") is to avoid multiple times execution
            modal.find('#button_apply_confirm').unbind("click").click(function () {
                var data = {'records': getTableData(table)};
                applyChanges(data, $SCRIPT_ROOT + '/admin/template/' + template + '/apply', csrf_token, true);
                modal.modal('hide');
            })
            modal.modal('show');

        });

        // handle add record button
        $(document.body).on("click", ".button_add_record", function (e) {
            if (nNew || nEditing) {
                showErrorModal("Previous record not saved. Please save it before adding more record.");
                return;
            }
            // clear search first
            $("#tbl_records").DataTable().search('').columns().search('').draw();

            // add new row
            var default_type = records_allow_edit[0]
            var nRow = jQuery('#tbl_records').dataTable().fnAddData(['', default_type, 'Active', window.ttl_options[0][0], '', '', '', '', '0']);
            editRow($("#tbl_records").DataTable(), nRow);
            document.getElementById("edit-row-focus").focus();
            nEditing = nRow;
            nNew = true;
        });

        //handle cancel button
        $(document.body).on("click", ".button_cancel", function (e) {
            e.stopPropagation();
            var oTable = $("#tbl_records").DataTable();
            if (nNew) {
                oTable.row(nEditing).remove().draw();
                nEditing = null;
                nNew = false;
            } else {
                restoreRow(oTable, nEditing);
                nEditing = null;
            }
        });

        //handle save button
        $(document.body).on("click", ".button_save", function (e) {
            e.stopPropagation();
            var table = $("#tbl_records").DataTable();
            saveRow(table, nEditing);
            nEditing = null;
            nNew = false;
        });

        {% if SETTING.get('record_helper') %}
            {% include "zone_record_helper.html" %}
        {% endif %}
    </script>
{% endblock %}

{% block modals %}
    <div class="modal fade modal-warning" id="modal_delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary float-left" id="button_delete_cancel"
                            data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-danger" id="button_delete_confirm">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-primary" id="modal_apply_changes">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary" id="button_apply_confirm">
                        Apply
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-primary" id="modal_custom_record">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Custom Record</h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="button_save">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
