{% extends "base.html" %}
{% block title %}<title>DNS Control Panel - HOME</title>{% endblock %}

{% block dashboard_stat %}
	<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Info</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ url_for('dashboard') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
{% endblock %}

{% block content %}
 <!-- Main content -->
    <section class="content">
      {% if current_user.role.name == 'Administrator' %}
      <div class="row">
        <div class="col-xs-3">
        	<div class="box">
        		<div class="box-header">
        			<h3 class="box-title">Statistics</h3>
        		</div>
        		<div class="box-body">
        		  <div class="row">
        		  <div class="col-lg-6 col-xs-12">
			          <!-- small box -->
			          <div class="small-box bg-aqua">
			            <div class="inner">
			              <h3>###</h3>
			              <p>Domains</p>
			            </div>
			            <div class="icon">
			              <i class="fa fa-shopping-cart"></i>
			            </div>
			          </div>
			        </div>
			        <div class="col-lg-6 col-xs-12">
			          <!-- small box -->
			          <div class="small-box bg-green">
			            <div class="inner">
			              <h3>###</h3>
			              <p>Users</p>
			            </div>
			            <div class="icon">
			              <i class="fa fa-users"></i>
			            </div>
			          </div>
			        </div>
			        </div>
			        <div class="row">
			        <div class="col-lg-6 col-xs-6">
			          <!-- small box -->
			          <div class="small-box bg-green">
			            <div class="inner">
			              <h3>###</h3>
			              <p>Histories</p>
			            </div>
			            <div class="icon">
			              <i class="fa fa-calendar"></i>
			            </div>
			          </div>
			        </div>
			        <div class="col-lg-6 col-xs-6">
			          <!-- small box -->
			          <div class="small-box bg-green">
			            <div class="inner">
			              <h3><span style="font-size: 20px">2W 2D 14h 13m</span></h3>
			              <p>Uptime</p>
			            </div>
			            <div class="icon">
			              <i class="fa fa-clock-o"></i>
			            </div>
			          </div>
			        </div>
			        </div>
        		</div>
        	</div>
        </div>
        <div class="col-xs-9">
        	<div class="box">
        		<div class="box-header">
        			<h3 class="box-title">Recent Logs</h3>
        		</div>
        		<div class="box-body">
	        		<table id="tbl_domain_list" class="table table-bordered table-striped">
	                <thead>
	                <tr>
	                  <th>Changed By</th>
	                  <th>Content</th>
	                  <th>Time</th>
	                  <th>Detail</th>
	                </tr>
	                </thead>
	                <tbody>
	                <tr>
	                  <td>
						ivan
					  </td>
	                  <td>
						log log log
					  </td>
	                  <td>
						5:52pm 21/4/2016
					  </td>
	                  <td>
						Detail button
					  </td>
	                </tr>
	                </tbody>
	              </table>
        		</div>
        	</div>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Hosted Domains</h3>
            </div>
            <!-- /.box-header -->
            <!--
            {% if current_user.role.name == 'Administrator' %}
            <div class="box-body">
            	<button type="button" class="btn btn-flat btn-primary" onclick="window.location.href='{{ url_for('domain_add') }}'">
            		New Domain&nbsp;<i class="fa fa-plus"></i>
            	</button>
            </div>
            {% endif %}
             -->
            <div class="box-body">
              <table id="tbl_domain_list" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>DNSSEC</th>
                  <th>Type</th>
                  <th>Serial</th>
                  <th>Master</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
				{% for domain in domains %}
                <tr>
                  <td>
					<a href="{{ url_for('domain', domain_name=domain.name) }}"><strong>{{ domain.name }}</strong></a>
				  </td>
                  <td>
					{% if domain.dnssec %}
					<button type="button" class="btn btn-flat dnssec">
						<i class="fa fa-lock"></i>&nbsp;Enabled
					</button>
					{% else %}
					<button type="button" class="btn btn-flat dnssec">
						<i class="fa fa-unlock-alt"></i>&nbsp;Disabled
					</button>
					{% endif %}
				  </td>
                  <td>
					{{ domain.type }}
				  </td>
                  <td>
					{{ domain.serial }}
				  </td>
                  <td>
					{% if domain.master == '[]'%}N/A {% else %}{{ domain.master|display_master_name }}{% endif %}
				  </td>
				  {% if current_user.role.name !='Administrator' %}
				  <td width="6%">
				  	<button type="button" class="btn btn-flat btn-success" onclick="window.location.href='{{ url_for('domain', domain_name=domain.name) }}'">
					  Manage&nbsp;<i class="fa fa-cog"></i>
					</button>
				  </td>
				  {% else %}
				  <td width="18%">
					<button type="button" class="btn btn-flat btn-success" onclick="window.location.href='{{ url_for('domain', domain_name=domain.name) }}'">
					  Manage&nbsp;<i class="fa fa-cog"></i>
					</button>
					<button type="button" class="btn btn-flat btn-danger" onclick="window.location.href='{{ url_for('domain_management', domain_name=domain.name) }}'">
					  Admin&nbsp;<i class="fa fa-cog"></i>
					</button>
				  </td>
				  {% endif %}
                </tr>
				{% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}
