<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Register - {{ SITE_NAME }}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {% assets "css_login" -%}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
  {%- endassets %}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a href="{{ url_for('index') }}"><b>PowerDNS</b>-Admin</a>
  </div>
<div class="register-box-body">
            {% if error %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">&times;</button>
                {{ error }}
            </div>
            {% endif %}
            <p class="login-box-msg">Enter your personal details below</p>
            <form action="{{ url_for('register') }}" method="post" data-toggle="validator">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="First Name" name="firstname" data-error="Please input your first name" required>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    <span class="help-block with-errors"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Last name" name="lastname" data-error="Please input your last name" required>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    <span class="help-block with-errors"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Email" name="email" data-error="Please input your valid email address"
                    pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$" required>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    <span class="help-block with-errors"></span>
                </div>
                <p class="login-box-msg">Enter your account details below</p>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Username" name="username" data-error="Please input your username" required>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    <span class="help-block with-errors"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" id="password" name="password" data-error="Please input your password" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Retype password" name="rpassword" data-match="#password" data-match-error="Password confirmation does not match" required>
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                    <span class="help-block with-errors"></span>
                </div>
                <div class="row">
                    <div class="col-xs-4 pull-left">
                        <button type="button" class="btn btn-flat btn-block" id="button_back">Back</button>
                    </div>
                    <div class="col-xs-4 pull-right">
                        <button type="submit" class="btn btn-flat btn-primary btn-block">Register</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
  <!-- /.form-box -->
  <div class="login-box-footer">
    <center><p>Powered by <a href="https://github.com/ngoduykhanh/PowerDNS-Admin">PowerDNS-Admin</a></p></center>
  </div>
</div>
<!-- /.login-box -->

{% assets "js_login" -%}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}
{% assets "js_validation" -%}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}
<script>
  $(function () {
    $('#button_back').click(function(){
        window.location.href='{{ url_for('login') }}';
    })
  });
</script>
</body>
</html>
